.input-group {
  margin: 20px 0px; }

td {
  vertical-align: bottom !important;
  text-align: center !important; }
  td:first-of-type {
    vertical-align: middle !important; }

th {
  vertical-align: middle !important;
  text-align: center !important; }
